<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">
        
    <!-- spring注入controller对象：扫描包发现有注释的话就由spring的ioc创建对象 -->    
	<context:component-scan base-package="com.vobosi" />
	
	<mvc:annotation-driven/>
	 <!-- 视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
       <!--返回视图资源的前缀 -->
       <property name="prefix" value="/WEB-INF/jsp/"/>
       <!--返回视图资源的后缀 -->
       <property name="suffix" value=".jsp"/>
    </bean>
</beans>